@import url(../../../../assets/css/standart-colors.css);


.container-experiencias {
    padding: 1rem;
    color: var(--lista);
    background-color: var(--bg-color);
    text-align: center;
}

.container-experiencias h2{
    font-size: 2rem;
    padding-bottom: 1rem;
}

.lista-experiencias {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.lista-experiencias p {
    padding-bottom: 1rem;
    font-size: 1.3rem;
}

.h3-negrito {
    padding-bottom: 0.3rem;
    font-size: 1.5rem;
}

.italico {
    padding-bottom: 0.3rem;
    font-size: 1.4rem;
    font-style: italic;
}

.lista-tecnologias-experiencias {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.4rem;
    width: 100%;
}

.projetos-experiencia {
    display: none;
}

#amostra-lista-experiencia {
    display: none;
}

#amostra-lista-experiencia:checked ~ .projetos-experiencia {
    display: block;
}

.imgs-experiencia {
    width: 25%;
    padding: 1rem 0;
    
}
.bordas1 {
    margin: 1rem 0;
    padding: 1rem 0.3rem;
    border: 2px solid var(--lista);
}
.bordas1 p {
    padding-top: 0.3rem;
    color: var(--titulo);
}

.bordas {
    margin: 1rem 0.2rem;
    padding: 1rem 0.3rem;
    border: 1px solid var(--titulo);
}

@media (min-width: 1024px) {
    .imgs-experiencia {
        width: 5%;
    }
}