@import url(../../../../assets/css/standart-colors.css);


footer {
    height: 12vh;
    background-color: var(--titulo);
    color: var(--bg-color);
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}


@media (min-width: 1024px) {
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
    }
}

@media (min-width: 1728px) {

    footer {
        font-size: 2rem;
    }
}