
@keyframes rodar {
    to {
        transform: rotate(0deg);
    } from {
        transform: rotate(360deg);
    }
}

.container-habilidades {
    text-align: center;
    padding: 1rem;
    background-color: var(--meu-nome);
}

.container-habilidades h2 {
    font-size: 2rem;
    padding: 1rem;
    color: var(--bg-color);
}

/*Aqui mudado*/
.container-habilidades ul {
    display: block;
    width: 100%;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.container-habilidades img {
    width: 50%;
}

.container-habilidades li > h2 {
    font-size: 1.5rem;
} 
/*Aqui mudado*/

.container-habilidades li {
    animation: rodar 2s;
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 2px solid var(--bg-color);
}

.imgs-habilidades-grandes {
    width: 100%;
}

.react {
    animation: ease-out rodar 10s infinite;
}

@media (min-width: 1024px) {
    .container-habilidades img {
        width: 20%;
    }

    .container-habilidades li {
        animation: rodar 2s;
        width: 30%;
        border: 2px solid var(--bg-color);
        padding: 0.3rem;
        margin: 1rem;
    }

    .container-habilidades ul {
        display: flex;
        flex-flow: row wrap;
    }
}

@media (min-width: 1728px) {
    .container-habilidades h2 {
        font-size: 2.5rem;
    }
    

}