footer {
    height: 12vh;
    background-color: var(--titulo);
    color: var(--bg-color);
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}
a {
    font-size: 1.1rem;
    padding-top: 1rem;
}


@media (min-width: 1024px) {
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        height: 20vh;

    }

    a {
        padding: 1rem;
    }
    
}

@media (min-width: 1728px) {

    footer {
        font-size: 2rem;
    }
}