.footer {
    height: auto;
    background-color: var(--titulo);
    color: var(--bg-color);
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}

.copyright {
    padding-bottom: 0.5rem;
}
.link_repositorio {
    margin-top: 1rem;
    font-size: 1.1rem;
    padding: 1rem;
}


@media (min-width: 1024px) {
    .footer {
        padding: 1.2rem;
        

    }

    .link_repositorio {
        font-size: 1.5rem;
    }
    
}

@media (min-width: 1728px) {
    .copyright {
        font-size: 2.2rem;
    }

    .link_repositorio {
        font-size: 1.8rem;
    }
}