
@keyframes subir {
    to {
        padding-top: 0;

    } from {
        padding-top: 1rem;
    }
}

.container-sobre-mim {
    padding: 1.2rem;
    text-align: center;
    background-color: var(--meu-nome);
}

.titulo-sobremim {
    animation: subir 1s;
    padding-bottom: 0.3rem;
    font-size: 1.7rem;
    color: var(--bg-color);
}

.container-sobre-mim p {
    animation: subir 1.2s;
    font-size: 1.4rem;
    color: var(--bg-color);
}

@media (min-width: 1024px) {
    .container-sobre-mim {
    }

    .container-sobre-mim p {
        font-size: 1.6rem;
        width: 60%;
        margin: auto;
    }

    .texto-sobremim {
        height: auto;
        justify-content: center;
        align-items: center;

    }

    .titulo-sobremim {
        font-size: 2rem;
    }
}

@media (min-width: 1728px) {

    .container-sobre-mim {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: 80vh;
    }
    
    .texto-sobremim {
        text-align: center;
        width: 60%;
    }

    .texto-sobremim h2 {
        font-size: 3rem;
        padding: 1rem;
    }

    .container-sobre-mim p {
        font-size: 2.5rem;
        width: 100%;
    }
}