
@keyframes aumentar {
    to {
        opacity: 1;
    } from {
        opacity: 0;
    }
}
.projetos-experiencia a {
    color: var(--lista);
    font-size: 1.3rem;
    
}

.container-experiencias {
    animation: aumentar 2s;
    padding: 1rem;
    color: var(--lista);
    background-color: var(--bg-color);
    text-align: center;
}

.container-experiencias h2{
    font-size: 2rem;
    padding-bottom: 1rem;
}

.lista-experiencias {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.bordas1 p {
    margin: 1rem;
    font-size: 1.3rem;
}

.h3-negrito {
    padding-bottom: 0.3rem;
    font-size: 1.5rem;
}

.bordas1 .italico {
    padding-bottom: 0.3rem;
    font-size: 1.4rem;
    font-style: italic;
}


.imgs-experiencia {
    width: 25%;
    padding: 1rem 0;
    
}
.bordas1 {
    margin: 1rem 0;
    padding: 1rem 0.3rem;
    border: 2px solid var(--lista);
}
.bordas1 p {
    padding-top: 0.3rem;
    color: var(--titulo);
}

.bordas {
    margin: 1rem 0.2rem;
    padding: 1rem 0.5rem;
    border: 1px solid var(--titulo);
}

@media (min-width: 1024px) {
    .imgs-experiencia {
        width: 5%;
    }

    .bordas {
        padding: 1rem 1rem;
    
    }
    .projetos-experiencia a {
        font-size: 1.4rem;
    }

    .lista-experiencias p {
        font-size: 1.6rem;
        width: 60%;
        margin: auto;
        margin-top: 1rem;
    }


    .bordas1 .italico {
        font-size: 1.6rem;
    }
}

@media (min-width: 1728px) {

    .bordas1 .italico {
        font-size: 1.8rem;
    }
    .container-experiencias h2{
        font-size: 3rem;
    }
    .container-experiencias {
        margin: 0 auto;
        width: 80%;
            
    }
    
    .div-lista-experiencias {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; 
        padding: 1rem;
        
    }

    .div-lista-experiencias span {
        font-size: 2rem;
    }


    .lista-experiencias h3 {
        font-size: 2.3rem;
    }

    .lista-experiencias {
        width: 95%;
    }

    .lista-experiencias p {
        font-size: 1.8rem;
    }

    .projetos-experiencia a {
        font-size: 1.9rem;
    }
}